{% extends "learning_logs/base.html" %}

    {% block page_header %}
        <div class="jumbotron">
            <h1 class="dispal-3">Monitoruj postępy w nauce</h1>

            <p class="lead">Załóż konto, aby rozpocząć korzystanie z
                aplikacji Learning Log oraz wyświetlić listę poznawanych
                tematów. Gdy nauczysz soę czegoś nowego na dany temat,
                utwórz wpis podsumowujący to, czego się nauczyleś.</p>

            <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
               role="button">Zarejestruj swoje konto &raquo;</a>
        </div>
    {% endblock page_header %}

{% block content %}
    <p>Learning Log pomaga w monitorowaniu postępów w nauce.</p>
{% endblock content %}
